<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/menu-sidebar.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>
  <div class="container-fluid nopadding">
    <header>
    <section>
      <article id="mislide" class="carousel slide">
        <!-- estas seran mis puntitos -->
        <ol class="carousel-indicators">
          <li class="active" data-target="#mislide" data-slide-to="0"></li>
          <li data-target="#mislide" data-slide-to="1"></li>
          <li data-target="#mislide" data-slide-to="2"></li>
          <li data-target="#mislide" data-slide-to="3"></li>
          <li data-target="#mislide" data-slide-to="4"></li>
        </ol>
        <!-- estas seran mis imagenes -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="../img/ag1.jpg" class="adaptar">
          </div>
          <div class="item">
            <img src="../img/cr1.jpg" class="adaptar">
          </div>
          <div class="item">
            <img src="../img/cr2.jpg" class="adaptar">
          </div>
          <div class="item">
            <img src="../img/cr3.jpg" class="adaptar">
          </div>
          <div class="item">
            <img src="../img/cr4.jpg" class="adaptar">
          </div>
        </div>
        <!-- estas seran mis flechitas -->
        <a href="#mislide" 
        class="left carousel-control" 
        data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a  href="#mislide" 
      class="right carousel-control"
      data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </article>
</section>

</header>
<section>
  <article class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <hr class="section-heading-spacer">
        <br>
        <h2 class="section-heading">¿Quien soy?</h2>
        <br>
        <p class="lead">Hola, soy estudiante de 5º año de la Licenciatura en artes plásticas, opción diseño gráfico en la Universidad de El Salvador, personalmente pienso que el diseño debe ser limpio y armonioso; por lo tanto creo fielmente que el uso de formas geométricas es el camino para lograr un producto exitoso.  <a href="#">https://www.facebook.com/agustin.mulato.5</a>
        </p>
      </div>
      <div class="col-md-5">
        <img src="../img/ipad1.png" class="img-fluid">

      </div>
    </div>
  </div>
  </article>
  <article class="content-section-b">
  <div class="container">
    <div class="row">
      
      <div class="col-md-5">
        <img src="../img/logo.png" class="img-fluid">

      </div>
      <div class="col-md-7">
        <hr class="section-heading-spacer">
        <br>
        <h2 class="section-heading">Habilidades</h2>
        <br>
        <p class="lead">Al plantearse la pregunta "¿qué habilidades tengo?" por lo general es dificil identificarlas al tratarse de uno mismo, pero tratare de mencionar algunas: 
        </p>
        
        <p class="lead">- Facilidad para insertarme y trabajar en equipos
        <br>
        - Fluidez verbal y capaciadad para guiar grupos de personas
        <br>
        -   Rapido aprendizaje y adaptabilidad a nuevos entornos
        </p>
      </div>
    </div>
  </div>
  </article>
</section>
  <div class="banner">
    <div class="container">
      <div class="row">
      <div class="col-md-5">
        <h2>"La creatividad te permitira trasformar tu mundo..." </h2>
      </div>
      <div class="col-md-7">&nbsp;</div>
      </div>
    </div>
  </div>
<footer>
<div class="bg-dark py-5">
<div class="container">
      <div class="row">
      <div class="col-md-4"></div>
        <div class="col-md-4">
          <p class="text-center">Agustin Heriberto
          <br>
          MG11065
          </p>
        </div>
        
    </div>
    </div>
  </div>
</footer>


</div>
<script type="text/javascript" src="../js/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../js/bootstrap/bootstrap.min.js"></script>
 


</body>

</html>
