<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equip="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jonathan Palacios</title>

	<link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css.map">
	<link href="../css/style_jonathan.css" rel="stylesheet" media="screen">
	<link rel="icon" type="img/png" href="images/favicon.ico"/>
</head>
<body>
	<div class="container-fluid nopadding">
		<header>
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only"> Desplegar navegaci&oacute;n</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">NODO</a>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav pull-right w100">
						<li><a href="../index.html">NODO</a></li>
            <li><a href="helen.html">Helen Palacios</a></li>
						<li><a href="agustin.html">Agust&iacute;n Mulato</a></li>
            <li><a href="#" class="active">Jonathan Palacios</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<section>
			<article id="myslide" class="carousel slide">
				<!-- puntos marcadores -->
				<ol class="carousel-indicators">
					<li class="active" data-target="#myslide" data-slide-to="0"></li>
					<li data-target="#myslide" data-slide-to="1"></li>
					<li data-target="#myslide" data-slide-to="2"></li>
					<li data-target="#myslide" data-slide-to="3"></li>
				</ol>
				<!-- imagenes de carusel -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="../img/img1.jpg" class="adaptar">
					</div>
					<div class="item">
						<img src="../img/img2.jpg" class="adaptar">
					</div>
					<div class="item">
						<img src="../img/img3.jpg" class="adaptar">
					</div>
					<div class="item">
						<img src="../img/img4.jpg" class="adaptar">
					</div>
				</div>
				<!-- flechas -->
				<a href="#myslide"
				class="left carousel-control"
				data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a  href="#myslide"
			class="right carousel-control"
			data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</article>
</section>

</header>
<section>
	<article class="content-section-a">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<hr class="section-heading-spacer">
				<br>
				<h2 class="section-heading">Biografia</h2>
				<br>
				<p class="lead">Soy Jonathan Palacios,diseñador gráfico e ilustrador, desde pequeño senti una gran fascinación por el dibujo siendo este el mayor de mis pasatiempos.
				<br>
				Años mas tarde descubriria que esta sería mi profesión y mi estilo de vida, tratando de dejar en cada proyecto nuevo un poco del conocimiento que en mis años de estudiante he adquirido gracias a compañeros, amigos y maestros.
				</p>
			</div>
			<div class="col-md-5">
				<img src="../img/logobio.jpg" class="img-fluid">

			</div>
		</div>
	</div>
	</article>
	<article class="content-section-b">
	<div class="container">
		<div class="row">

			<div class="col-md-5">
				<img src="../img/phones.png" class="img-fluid">

			</div>
			<div class="col-md-7">
				<hr class="section-heading-spacer">
				<br>
				<h2 class="section-heading">Contacto</h2>
				<br>
				<p class="lead">E-mail: jonathanpalacios@hotmail.com
				<br>
				Facebook: <a href="#">https://www.facebook.com/jonathan.palacios.7777</a>
				</p>
			</div>
		</div>
	</div>
	</article>
</section>
  <div class="banner">
  	<div class="container">
  		<div class="row">
  		<div class="col-md-5">
  			<h3>Contactame... </h3>
  		</div>
  		<div class="col-md-7">&nbsp;</div>
  		</div>
  	</div>
  </div>
<footer>
<div class="bg-dark py-5">
<div class="container">
  		<div class="row">
  		<div class="col-md-4"></div>
  			<div class="col-md-4">
  				<p class="text-center">
  					Jonathan Palacios
  					<br>
  					PP10067
  				</p>
  			</div>
  			<div class="col-md-4"></div>

  	</div>
  	</div>
  </div>
</footer>


</div>
<script type="text/javascript" src="../js/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../js/bootstrap/bootstrap.min.js"></script>
</body>

</html>
